/******************************************************************************/
/* DB LOG                                                                     */

.page-admin-reports .form-item-type,
.page-admin-reports .form-item-severity {
  width: auto;
}

.page-admin-reports .form-item {
  padding: 9px 9px 9px 0;
}

/******************************************************************************/
/* L10N UPDATE                                                                */

#l10n-update-admin-import-form input[type=submit] {
  float: right;
}

/******************************************************************************/
/* ACTION LINKS                                                               */

#content > ul.action-links {
  padding:    1em 0.5em;

  border:     1px solid #BEBFB9;
  background: #F3F4EE;

  text-align: center;
}

#content > ul.action-links li {
  float:   none;
  display: inline-block;
}

/******************************************************************************/
/* PERFORMANCE                                                                */

#edit-clear-cache {
  border:     1px solid #BEBFB9;
  background: #F3F4EE;
}
