a.button,
.form-actions a,
#content > ul.action-links a,
input[type=submit] {
  display:         inline-block;
  margin-right:    0;
  margin-left:     1em;
  padding:         4px 24px;

  border:          1px solid #BEBFB9;
  border-radius:   0;
  box-shadow:      inset 0 1px 0 0 #FFFFFF;
  background:      linear-gradient(to bottom, #F5F5F5 5%, #E0E0E0 100%);

  font-size:       1.125em;
  text-decoration: none;
  text-shadow:     0 1px 0 #FFFFFF;
  color:           #474747;
}

a.button:hover,
a.button:active,
.form-actions a:hover,
.form-actions a:active,
#content > ul.action-links a:hover,
#content > ul.action-links a:active,
input[type=submit]:hover,
input[type=submit]:active {
  border:          1px solid #BEBFB9;

  background:      #E0E0E0 linear-gradient(to bottom, #E0E0E0 5%, #F5F5F5 100%);

  text-decoration: none;
  text-shadow:     0 1px 0 #FFFFFF;
  color:           #474747;
}

a.button:active,
.form-actions a:active,
#content > ul.action-links a:active,
input[type=submit]:active {
  position: relative;
  top:      1px;
}

a.button-submit,
#content > ul.action-links a,
input[type=submit][id*=submit],
input[type=submit][id*=download],
input[type=submit][id*=save] {
  margin-right:    0;
  margin-left:     1em;
  padding:         4px 24px;

  border:          1px solid #3B6E22;

  box-shadow:      inset 0 1px 0 0 #9ACC85;

  background:      #74AD5A linear-gradient(to bottom, #74AD5A 5%, #68A54B 100%);

  color:           #FFFFFF !important;

  font-size:       1.125em;
  text-decoration: none;
  text-shadow:     0 1px 0 #5B8A3C;
}

a.button-submit:hover,
a.button-submit:active,
#content > ul.action-links a:hover,
#content > ul.action-links a:active,
input[type=submit][id*=submit]:hover,
input[type=submit][id*=submit]:active,
input[type=submit][id*=download]:hover,
input[type=submit][id*=download]:active,
input[type=submit][id*=save]:hover,
input[type=submit][id*=save]:active {
  border:      1px solid #3B6E22;

  background:  #68A54B linear-gradient(to bottom, #68A54B 5%, #74AD5A 100%);

  color:       #FFFFFF;

  text-shadow: 0 1px 0 #5B8A3C;
}

a#edit-cancel,
a.button-cancel,
input[type=submit][id*=cancel],
input[type=submit][class*=cancel],
input[type=submit][id*=reset] {
  margin-right:    0;
  margin-left:     1em;
  padding:         4px 24px;

  border:          1px solid #E37C1F;

  box-shadow:      inset 0 1px 0 0 #F9ECA0;

  background:      #F0C911 linear-gradient(to bottom, #F0C911 5%, #F2AB1E 100%);

  color:           #FFFFFF !important;

  font-size:       1.125em;
  text-decoration: none;
  text-shadow:     0 1px 0 #997A4E;
}

a#edit-cancel:hover,
a#edit-cancel:active,
a.button-cancel:hover,
a.button-cancel:active,
input[type=submit][id*=cancel]:hover,
input[type=submit][id*=cancel]:active,
input[type=submit][class*=cancel]:hover,
input[type=submit][class*=cancel]:active,
input[type=submit][id*=reset]:hover,
input[type=submit][id*=reset]:active {
  border:      1px solid #E37C1F;

  background:  #F2AB1E linear-gradient(to bottom, #F2AB1E 5%, #F0C911 100%);

  color:       #FFFFFF;

  text-shadow: 0 1px 0 #997A4E;
}

a.button-remove,
input[type=submit][id*=remove],
input[type=submit][id*=delete],
input[type=submit][id*=clear] {
  margin-right:    0;
  margin-left:     1em;
  padding:         4px 24px;

  border:          1px solid #B22117;

  box-shadow:      inset 0 1px 0 0 #F5978E;

  background:      #F24537 linear-gradient(to bottom, #F24537 5%, #C62D1F 100%);

  color:           #FFFFFF !important;

  font-size:       1.125em;
  text-decoration: none;
  text-shadow:     0 1px 0 #810E05;
}

a.button-remove:hover,
a.button-remove:active,
input[type=submit][id*=remove]:hover,
input[type=submit][id*=remove]:active,
input[type=submit][id*=delete]:hover,
input[type=submit][id*=delete]:active,
input[type=submit][id*=clear]:hover,
input[type=submit][id*=clear]:active {
  border:      1px solid #B22117;

  background:  #C62D1F linear-gradient(to bottom, #C62D1F 5%, #F24537 100%);

  color:       #FFFFFF;

  text-shadow: 0 1px 0 #810E05;
}

a.button-small {
  margin-left: 0.5em;
  padding:     2px 5px;
}