.sidebar-first #content-regions-wrapper {
  position: relative;
  clear:    both;
  float:    left;
  width:    100%;
  overflow: hidden;
}

.sidebar-first #content-regions {
  float:       left;
  width:       200%;
  margin-left: -300px;
  position:    relative;
  right:       100%;
  background:  #FFFFFF;
}

.sidebar-first #page_content {
  float:          left;
  width:          50%;
  position:       relative;
  left:           50%;
  padding-bottom: 1em;
}

.sidebar-first #page_content .region-content {
  margin:   0 15px 0 300px;
  overflow: hidden;
}

.sidebar-first #sidebar_first {
  float:    right;
  width:    300px;
  position: relative;
  left:     300px;
}