@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);

html {
  font-size:  14px;
  overflow-y: scroll;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size:   1em;
}

#page {
  margin-right: 20px;
  margin-left:  20px;
}

/******************************************************************************/
/* BASICS                                                                     */

pre {
  font-family: "Ubuntu Mono", monospaced, monospace;
  font-size:   1em;
}

hr {
  margin: 30px 0;
}

#branding h1.page-title {
  font-size:   2em;
  font-weight: 600;
}

/******************************************************************************/
/* BASICS: TABLE                                                              */

caption {
  border:        1px solid #BEBFB9 !important;
  border-bottom: 0 !important;
  background:    #E1E2DC;
  font-size:     130%;
  font-weight:   bold;
  padding:       5px !important;
  text-align:    left;
}

table td {
  vertical-align: top;
}

table td.small {
  padding: 2px 4px;
}

table th {
  vertical-align: bottom !important;
}

table td.horizontal-divider {
  height:      10px;
  padding:     0;
  background:  #E1E2DC;
  border:      1px solid #BEBFB9;
  border-left: 0;
}

table th.vertical-divider {
  width:     5px;
  min-width: 5px;
  padding:   0;
}

table td.vertical-divider {
  width:         5px;
  min-width:     5px;
  padding:       0;

  border:        1px solid #BEBFB9;
  border-top:    0;
  border-bottom: 0;

  background:    #E1E2DC;
}

/******************************************************************************/
/* BASICS: FORM                                                               */

input.form-text,
textarea.form-textarea,
select.form-select {
  border:    1px solid #BEBFB9;
  min-width: 200px;
}

select.form-select {
  padding:   1px;
  min-width: 200px;
}

.form-actions {
  text-align: right;
}

.form-actions * {
  text-align: left;
}

/******************************************************************************/
/* HELPER: COLORS                                                             */

.red,
.red a {
  color: #D3171A;
}

.orange,
.orange a {
  color: #FFB700;
}

.green,
.green a {
  color: green;
}

.grey,
.grey a {
  color: #B9B9B9;
}

.red-bg {
  background: rgba(255, 0, 0, 0.3);
}

.orange-bg {
  background: rgba(255, 183, 0, 0.3);
}

.green-bg {
  background: rgba(0, 255, 49, 0.3);
}

.light-bg {
  border:     1px solid #BEBFB9;
  background: #F3F4EE;
}

.dark-bg {
  border:     1px solid #BEBFB9;
  background: #E1E2DC;
}

/******************************************************************************/
/* HELPER: TEXT                                                               */

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.no-wrap {
  white-space: nowrap;
}

.uppercase,
.uppercase * {
  text-transform: uppercase;
}

.lowercase,
.lowercase * {
  text-transform: lowercase;
}

.capitalize,
.capitalize * {
  text-transform: capitalize;
}

.bigger {
  font-size: 150%;
}

.smaller {
  font-size: 87.5%;
}

.mirror {
  transform: scaleX(-1);
}

.monospace {
  font-family: "Ubuntu Mono", monospaced, monospace;
}

/******************************************************************************/
/* HELPER: BOX MODEL                                                          */

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.display-inline {
  display: inline-block;
}

.valign-center {
  vertical-align: middle;
}

.valign-top {
  vertical-align: top;
}

.valign-bottom {
  vertical-align: bottom;
}

.no-padding {
  padding: 0 0 0 0 !important;
}

.no-margin {
  margin: 0 0 0 0 !important;
}

.margin-bottom {
  margin-bottom: 1em;
}

.margin-top {
  margin-top: 1em;
}

.fix-width-1 {
  width: 1%;
}

.fix-width-10 {
  width: 10%;
}

.fix-width-20 {
  width: 20%;
}

.fix-width-30 {
  width: 30%;
}

.fix-width-40 {
  width: 40%;
}

.fix-width-50 {
  width: 50%;
}

.fix-width-60 {
  width: 60%;
}

.fix-width-70 {
  width: 70%;
}

.fix-width-80 {
  width: 80%;
}

.fix-width-90 {
  width: 90%;
}

.fix-width-100 {
  width: 100%;
}