/******************************************************************************/
/* HEADER TABS                                                                */

#branding {
  border-bottom: 1px solid #BDBEB9;
  overflow:      visible;
}

ul.primary {
  height: auto;
}

ul.primary li {
  margin: 0 0 0 10px;
}

ul.primary li a:link,
ul.primary li a.active,
ul.primary li a:active,
ul.primary li a:visited,
ul.primary li a:hover,
ul.primary li.active a {
  padding:       0 18px;

  border-color:  #BDBEB9;
  border-radius: 4px 4px 0 0;

  background:    #E5E5E0;

  color:         #6A6A6A;
}

ul.primary li.active a,
ul.primary li.active a.active,
ul.primary li.active a:active {
  position: relative;
  top:      1px;
}

ul.primary li.active a,
ul.primary li.active a.active,
ul.primary li.active a:active,
ul.primary li.active a:visited {
  border-color: #BEBFB9;

  background:   #F6F6F6 linear-gradient(to bottom, #F6F6F6 5%, #FFFFFF 100%);

  color:        #383837;
}

ul.primary li a:hover {
  background: #F3F4EE;

  color:      #383837;
}

ul.primary li.active a:hover {
  color:      #000000;
  background: #FFFFFF;
}

/******************************************************************************/
/* HEADER TABS                                                                */

.tabs-secondary {
  position: relative;
  top:      -20px;
  width:    100%;

  overflow: visible;
}

ul.secondary {
  float:         none;
  position:      absolute;
  left:          -20px;
  width:         100%;

  padding:       10px 20px 0;

  overflow:      visible;

  border-bottom: 1px solid #BDBEB9;

  text-align:    right;
}

ul.secondary li {
  margin: 0 0 0 10px;
}

ul.secondary li a:link,
ul.secondary li a.active,
ul.secondary li a:active,
ul.secondary li a:visited,
ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  padding:       0 18px;

  border:        1px solid #BDBEB9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;

  background:    #E5E5E0;

  color:         #6A6A6A;
}

ul.secondary li.active a,
ul.secondary li.active a.active,
ul.secondary li.active a:active {
  position: relative;
  top:      1px;
}

ul.secondary li.active a,
ul.secondary li.active a.active,
ul.secondary li.active a:active,
ul.secondary li.active a:visited {
  border-color:  #BEBFB9;
  border-radius: 4px 4px 0 0;

  background:    #F6F6F6 linear-gradient(to bottom, #F6F6F6 5%, #FFFFFF 100%);

  color:         #383837;
}

ul.secondary li a:hover {
  background: #F3F4EE;

  color:      #383837;
}

ul.secondary li.active a:hover {
  color:      #000000;
  background: #FFFFFF;
}

/******************************************************************************/
/* JQUERY UI TABS                                                             */

.ui-tabs {
  border:        none;
  padding:       0;
  margin-bottom: 10px;
  background:    none;
}

.ui-tabs .ui-tabs-panel {
  border:     1px solid #BDBEB9;
  background: #FFFFFF;
}

.ui-tabs .ui-tabs-nav {
  border-bottom: none;
}

.ui-tabs .ui-tabs-nav li a {
  padding:       0 18px;

  font-weight:   bold;

  border:        1px solid #BDBEB9;
  border-bottom: none;
  border-radius: 4px 4px 0 0;

  color:         #6A6A6A;
  background:    #E5E5E0;
}

.ui-tabs .ui-tabs-nav li a:hover {
  color:      #383837;
  background: #F3F4EE;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  position:     relative;
  top:          1px;

  border-color: #BEBFB9;

  background:   #F6F6F6 linear-gradient(to bottom, #F6F6F6 5%, #FFFFFF 100%);

  color:        #383837;
  cursor:       auto;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a:hover {
  color:      #000000;
  background: #FFFFFF;
}
