/* Copy from seven base theme: https://www.drupal.org/node/2374769 */

ul.menu li,
ul.menu li a,
ul.links li,
ul.links li a,
.action-links,
#page {
  height: 1%;
}

#block-system-main ul.admin-list li a {
  height:   1px;
  position: relative;
  display:  block;
}

#block-system-main ul.admin-list li div.description a {
  display: inline;
}
