/* Copy from seven base theme: https://www.drupal.org/node/2374769 */

ul.tabs.primary {
  padding: 0;
}

ul.primary li,
ul.primary li a,
ul.primary li.active a {
  float:   none !important;
  display: inline;
}

ul.primary li,
ul.primary li a,
ul.primary li a.active,
ul.primary li a:active,
ul.primary li a:visited,
ul.primary li a:hover,
ul.primary li.active a {
  zoom:     1;
  position: relative;
}

ul.admin-list li {
  position: static;
}
