.vbo-views-form fieldset {
  padding:    0.5em 0 0 0;

  border:     1px solid #BEBFB9;
  background: #F3F4EE;
}

.vbo-views-form fieldset input[type=submit] {
  float:  right;
  margin: 0;
}

.vbo-views-form fieldset div:first-of-type {
  padding-left: 6em;
}

.vbo-views-form fieldset a {
  display:         inline-block;
  margin-right:    0;
  margin-left:     0.5em;
  padding:         2px 5px;
  float:           right;

  border:          1px solid #BEBFB9;
  border-radius:   0;
  box-shadow:      inset 0 1px 0 0 #FFFFFF;
  background:      linear-gradient(to bottom, #F5F5F5 5%, #E0E0E0 100%);

  font-size:       1.125em;
  text-decoration: none;
  text-shadow:     0 1px 0 #FFFFFF;
  color:           #474747;
}

.vbo-views-form fieldset a:hover,
.vbo-views-form fieldset a:active {
  border:          1px solid #BEBFB9;

  background:      #E0E0E0 linear-gradient(to bottom, #E0E0E0 5%, #F5F5F5 100%);

  text-decoration: none;
  text-shadow:     0 1px 0 #FFFFFF;
  color:           #474747;
}
