body.page-admin-config-development-adminer {
  height:   100%;
  margin:   0 !important;
  overflow: hidden;
}

body.page-admin-config-development-adminer #page {
  position: absolute;
  bottom:   0;
  margin:   0;
  padding:  0;
  height:   90%;
  width:    100%;
}

body.page-admin-config-development-adminer iframe,
body.page-admin-config-development-adminer .content {
  height: 100%;
}