.view .date-nav-wrapper .item-list .pager {
  text-align: inherit;
}

.view .date-nav-wrapper .date-prev,
.view .date-nav-wrapper .date-next {
  border-radius: 0;
  padding:       0;
  background:    transparent;
}

.view .date-nav-wrapper .date-next {
  left: auto;
}

.view .date-nav-wrapper .date-prev {
  right: auto;
}

.view .date-nav-wrapper .date-prev a,
.view .date-nav-wrapper .date-next a {
  display: block;
  margin:  0;
  padding: 5px;
}

.calendar-calendar .month-view table {
  border: 1px solid #BEBFB9;
}

.calendar-calendar .month-view table tr {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #BEBFB9;
}

.calendar-calendar .month-view table tr:nth-child(2n+2) {
  background: #F3F4EE;
}

.calendar-calendar .month-view table tr:first-child + tr,
.calendar-calendar .month-view table tr:first-child + tr + tr + tr {
  background: #F3F4EE;
}

.calendar-calendar .month-view table tr td.today {
  background-color: transparent;
  font-weight:      600;
}

.calendar-calendar .month-view table tr td a {
  display: block;
}
