.container-inline-date {
  padding:        9px 0;
  vertical-align: top;
}

.container-inline-date .date-padding {
  padding: 0;
}

.container-inline-date > .form-item {
  margin-right: 0;
}

.container-inline-date .form-item .form-item {
  padding: 0;
}