.block-masquerade {
  background: #E0E0D8;
  border:     1px solid #BEBFB9;
  padding:    10px;
}

.block-masquerade * {
  display:        inline-block;
  padding-bottom: 0;
  margin-top:     0 !important;
  margin-bottom:  0 !important;
}

.block-masquerade input.form-submit {
  margin-bottom: 0;
}

.block-masquerade form > div > .form-item {
  display: none;
}

.block-masquerade .edit-masquerade-user-field * {
  display: block;
}

.block-masquerade #autocomplete {
  background: #FFFFFF;
}