/******************************************************************************/
/* ADMIN TABS                                                                 */

ul#views-display-menu-tabs {
  position: relative;
  left:     0;
  width:    auto;
}

ul#views-display-menu-tabs li a {
  padding:       3px 7px 2px;

  border:        1px solid #BDBEB9;
  border-radius: 0;
}

ul#views-display-menu-tabs li a:hover {
  background: #F3F4EE;

  color:      #383837;
}

ul#views-display-menu-tabs li.active a,
ul#views-display-menu-tabs li.active a.active {
  border-color: #BEBFB9;

  background:   #F6F6F6 linear-gradient(to bottom, #F6F6F6 5%, #FFFFFF 100%);

  color:        #383837;
}

ul#views-display-menu-tabs li.active a:hover {
  color:      #000000;
  background: #FFFFFF;
}

ul#views-display-menu-tabs li a:hover > .icon.add {
  background-position: center 3px;
}

ul#views-display-menu-tabs ul.action-list li {
  border-radius: 0;
  padding:       0;
}

ul#views-display-menu-tabs input[type=submit] {
  display:     block;
  width:       100%;

  box-shadow:  none;

  text-shadow: none;
  text-align:  left;
  padding:     2px 9px;
}

/******************************************************************************/
/* ADMIN BUTTONS                                                              */

.ctools-button-processed {
  border-radius: 2px !important;
}

.ctools-dropbutton-processed.open {
  box-shadow: none !important;
}

/******************************************************************************/
/* VIEWS EXPOSED FILTERS                                                      */

.views-exposed-form {
  border:        1px solid #BEBFB9;
  margin-bottom: 1.5em;
  padding:       0.5em;
  background:    #F3F4EE;
}

.views-exposed-form .views-exposed-widget {
  display:        inline-block;
  margin-right:   0.5em;
  vertical-align: top;
}

.views-exposed-form .views-exposed-widget .form-item {
  margin:  0;
  padding: 0;
}

.views-exposed-form .views-submit-button,
.views-exposed-form .views-reset-button {
  float: right;
}

.views-exposed-form .views-submit-button .form-submit,
.views-exposed-form .views-reset-button .form-submit {
  margin-top: 0.5em;
}

.views-widget-filter-created .views-operator,
.views-widget-filter-created .views-widget,
.views-widget-filter-created .views-widget .form-item {
  display: inline-block;
}

/******************************************************************************/
/* VIEWS CALC FOOTER                                                          */

td.view-subfooter,
td.view-subfooter-number {
  border-color:     #BEBFB9 !important;
  background-color: #F3F4EE !important;
}

td.view-footer,
td.view-footer-number {
  border-color:     #BEBFB9 !important;
  background-color: #E1E2DC !important;
}

.date-nav-wrapper .date-nav {
  width:         auto;
  margin-bottom: 1.5em;
  padding:       0.5em;

  border:        1px solid #BEBFB9;

  background:    #F3F4EE;
}

.date-nav-wrapper .date-prev,
.date-nav-wrapper .date-next {
  bottom: 0;
}

.date-nav-wrapper .date-prev a,
.date-nav-wrapper .date-next a {
  position:    absolute;
  top:         0.5em;
  bottom:      0.5em;

  white-space: nowrap;
}

.date-nav-wrapper .date-prev a {
  left: 0.5em;
}

.date-nav-wrapper .date-next a {
  right: 0.5em;
}

.date-nav .date-heading h2 {
  margin: 0.25em 0;
}
